{{/* <script type="text/javascript" src="/js/carousel.js"></script> GET /ananke/css/carousel.css HTTP/1.1" 404 */}}
{{/*  <link rel="stylesheet" href="/ananke/css/carousel.css"> */}}
<style>
    .tc-l ul {
        text-align: left;
        margin-left: 3em;
    }
</style>

<style>
.sy-wide {letter-spacing: 10px;}
.sy-hover-opacity {cursor: pointer;}

.sy-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,

.sy-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.sy-round-small{border-radius:2px}.w3-round,.w3-round-medium{border-radius:4px}.w3-round-large{border-radius:8px}.w3-round-xlarge{border-radius:16px}.w3-round-xxlarge{border-radius:32px}
.sy-col,.sy-half,.sy-third,.sy-twothird,.sy-threequarter,.sy-quarter{float:left;width:100%}
.sy-col.s1{width:8.33333%}.sy-col.s2{width:16.66666%}.sy-col.s3{width:24.99999%}.sy-col.s4{width:33.33333%}
.sy-col.s5{width:41.66666%}.sy-col.s6{width:49.99999%}.sy-col.s7{width:58.33333%}.sy-col.s8{width:66.66666%}
.sy-col.s9{width:74.99999%}.sy-col.s10{width:83.33333%}.sy-col.s11{width:91.66666%}.sy-col.s12{width:99.99999%}
@media (min-width:601px){.sy-col.m1{width:8.33333%}.sy-col.m2{width:16.66666%}.sy-col.m3,.sy-quarter{width:24.99999%}.sy-col.m4,.sy-third{width:33.33333%}
.sy-col.m5{width:41.66666%}.sy-col.m6,.sy-half{width:49.99999%}.sy-col.m7{width:58.33333%}.sy-col.m8,.sy-twothird{width:66.66666%}
.sy-col.m9,.sy-threequarter{width:74.99999%}.sy-col.m10{width:83.33333%}.sy-col.m11{width:91.66666%}.sy-col.m12{width:99.99999%}}
@media (min-width:993px){.sy-col.l1{width:8.33333%}.sy-col.l2{width:16.66666%}.sy-col.l3{width:24.99999%}.sy-col.l4{width:33.33333%}
.sy-col.l5{width:41.66666%}.sy-col.l6{width:49.99999%}.sy-col.l7{width:58.33333%}.sy-col.l8{width:66.66666%}
.sy-col.l9{width:74.99999%}.sy-col.l10{width:83.33333%}.sy-col.l11{width:91.66666%}.sy-col.l12{width:99.99999%}}
@media (max-width:1205px){.sy-auto{max-width:95%}}
@media (max-width:600px){.sy-modal-content{margin:0 10px;width:auto!important}.sy-modal{padding-top:30px}
.sy-dropdown-hover.sy-mobile .sy-dropdown-content,.sy-dropdown-click.sy-mobile .sy-dropdown-content{position:relative}	
.sy-hide-small{display:none!important}.sy-mobile{display:block;width:100%!important}.sy-bar-item.sy-mobile,.sy-dropdown-hover.sy-mobile,.sy-dropdown-click.sy-mobile{text-align:center}
.sy-dropdown-hover.sy-mobile,.sy-dropdown-hover.sy-mobile .sy-btn,.sy-dropdown-hover.sy-mobile .sy-button,.sy-dropdown-click.sy-mobile,.sy-dropdown-click.sy-mobile .sy-btn,.sy-dropdown-click.sy-mobile .sy-button{width:100%}}
@media (max-width:768px){.sy-modal-content{width:500px}.sy-modal{padding-top:50px}}
@media (min-width:993px){.sy-modal-content{width:900px}.sy-hide-large{display:none!important}.sy-sidebar.sy-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.sy-hide-medium{display:none!important}}
@media (max-width:992px){.sy-sidebar.sy-collapse{display:none}.sy-main{margin-left:0!important;margin-right:0!important}.sy-auto{max-width:100%}}
.sy-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.sy-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.sy-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.sy-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.sy-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.sy-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.sy-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.sy-animate-input{transition:width 0.4s ease-in-out}.sy-animate-input:focus{width:100%!important}
.sy-opacity,.sy-hover-opacity:hover{opacity:0.60}.sy-opacity-off,.sy-hover-opacity-off:hover{opacity:1}
.sy-opacity-max{opacity:0.25}.sy-opacity-min{opacity:0.75}
.sy-padding-small{padding:4px 8px!important}.sy-padding{padding:8px 16px!important}.sy-padding-large{padding:12px 24px!important}
.sy-padding-16{padding-top:16px!important;padding-bottom:16px!important}.sy-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.sy-padding-32{padding-top:32px!important;padding-bottom:32px!important}.sy-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.sy-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.sy-padding-top-64{padding-top:64px!important}.sy-padding-top-48{padding-top:48px!important}
.sy-padding-top-32{padding-top:32px!important}.sy-padding-top-24{padding-top:24px!important}
</style>
 