<section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center mw9 lh-copy mid-gray">
<div class="sy-row">
    <div class="sy-col m6 sy-center sy-padding-large">
      <p><b><i class="sy-margin-right"></i>{{ .Get "title" }}</b></p><br>
      <img src="{{ .Get "image" }}" class="sy-round sy-image sy-opacity sy-hover-opacity-off" width="500" height="333">
    </div>

    <div class="sy-col m6 sy-padding-large">
      <p><b><i class="sy-margin-right"></i></b></p><br>
      <p>{{ .Get "text" }}</p>
    </div>
</div>
</section>


<section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center mw9 lh-copy mid-gray">
<div class="sy-row">
    <div class="sy-col m6 sy-padding-large">
        <p><b><i class="sy-margin-right"></i></b></p><br>
        <div>{{ .Get "text" }}</div>
    </div>
    <div class="sy-col m6 sy-center sy-padding-large">
        <p><b><i class="sy-margin-right"></i>{{ .Get "title" }}</b></p><br>
        <img src="{{ .Get "image" }}" class="sy-round sy-image sy-opacity sy-hover-opacity-off" width="500" height="333">
      </div>

</div>
</section>
